.calendar-container {
	height: 1440px;
	width: 600px;
	border: 1px solid grey;
	left: 60px;
	position: absolute;
}
#timeline{
	position: absolute;
}
.meeting {
  position: absolute;
  width: 100%;
  overflow: auto;
  border: 0px solid red;
  text-align: center;
}

